.sectionConstructor {
    margin-top: 100px;
    padding: 0 16px 48px;
    width: 568px;
    box-sizing: border-box;
}

.containerScrollConstructor {
    height: 560px;
    max-height: 560px;
    overflow-y: auto;
    scrollbar-color: #8585AD #2F2F37;
    padding-left: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.itemsContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.ingredientsContainer {
    display: flex;
    align-items: center;
    position: relative;
}

.dragIcon {
    position: absolute;
    left: -28px;
}

.totalPriceContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 48px;
    margin-top: 48px;
}

.totalPrice {
    display: flex;
    align-items: center;
    gap: 4px;
}


.droppableArea {
    border: 2px solid transparent;
    border-radius: 4%;
    padding: 12px 12px 12px 0;
    transition: border 0.2s;
}

.droppableArea.active {
    border: 2px solid #25abd4d5;
}