.ingredientDetailsWrap {
    padding: 40px 0 60px;
}

.ingredientDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 60px;
}

.ingredientImage {
    padding: 0 20px;
}

.ingredientTitle {
    margin-top: 16px;
    margin-bottom: 32px;
}

.nutrients {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.nutrient {
    display: flex;
    flex-direction: column;
    align-items: center;
}