a {
    text-decoration: none;
}

.mainHeader {
    display: flex;
    align-items: center;
    padding: 16px;
    justify-content: space-evenly;
    background-color: #1c1c21;
}

.navbarHeader {
    display: flex;
    gap: 8px;
}

.navbarHeaderPA {
    margin-right: 162px;
}

.linkContainer {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #8585AD;
    padding: 20px;
    transition: color 0.3s ease;
}

.linkContainerActive {
    color: #F2F2F3;
}

.linkContainer svg {
    fill: #8585AD;
    transition: fill 0.3s ease;
}

.linkContainerActive svg {
    fill: #F2F2F3;
}